.container {
  margin-top: 50px;
  position: relative;
}
.jumbotron {
  padding: 0;
  background-color: #44484bd9;
  border-color: #151515;
  border-style: double;
  border-radius: 1rem;
  position: relative;
  text-align: center;
}
.darkRec {
  background-color: #00000078;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}
.darkRec hr {
  border-top: white dotted 3px;
  width: 30%;
  margin: auto;
}
.darkRec p {
  font-size: smaller;
  color: white;
  padding: 1em 1em 0 1em;
}
.linkedin:hover {
  color: #0077b5;
}
.github:hover {
  color: #9e9e9e;
}
.facebook:hover {
  color: #007bff;
}
